.input-set
  max-height 420px
  overflow-y auto
  width 19em
  background #fff
  padding 5px 0px
  border-radius 3px
  z-index 9999
  right -1em
  border-bottom 1px solid #ccc
  border-left 1px solid #ccc
  border-right 1px solid #ccc
  -webkit-box-shadow -2px 3px 5px 0px rgba(50, 50, 50, 0.75)
  -moz-box-shadow    -2px 3px 5px 0px rgba(50, 50, 50, 0.75)
  box-shadow         -2px 3px 5px 0px rgba(50, 50, 50, 0.75)
  padding 10px
  ul
    &.group
      list-style-type none
      label
        float left
        width auto
      li
        &.set
          background rgba(0,0,0,0.03)
          display block
          width 100%
          padding 2pt 3pt
          border 1px solid rgba(0,0,0,0.06)
          border-radius 3pt
          line-height 17pt
          margin 1.5pt 2pt
          button
            &.save
              font-size 7pt
              float right
              color rgba(150,30,30,0.8)
              padding 3pt
              &:hover
                color rgba(90,30,30,1)