.modal-header
  h1 Contact profile
  hr
  | {{ message }}
  hr
  | {{ entity }}
.modal-body
  include ../../forms/contact
.modal-footer
  button.btn.btn-primary(ng-click="saveEntity()") Save
  button.btn.btn-danger(ng-show="itemId", ng-click="deleteEntity()") Delete
  button.btn.btn-warning(ng-click="cancel()") Cancel