.modal-header
  h1 Contact profile
.modal-body
  include ../../forms/contact_vertical
.modal-footer
  button.btn.btn-primary(ng-click="ok()") Update
  button.btn.btn-warning(ng-click="cancel()") Cancel