div(ng-controller="ListController")

  div
    pre {{ search | json }}

  table
    thead
      tr
        th.entity First Name

        th.entity Last Name

        th.usage Mobile

        th.usage Action

    tbody(ng-repeat='item in result.results')
      tr.device(ng-class-odd='"odd"', ng-class='{ "isUpdating": item.isUpdating }')

        td.cell.first {{ item.person.firstname }}
        td.cell.second {{ item.person.lastname }}
        td.cell.fourth  {{ item.phone.mobile }}
        td.cell.fourth
          button(ng-click="openContact(item._id)") Edit
          | &nbsp;
          button(ng-click="openContact(item._id)") Delete