form.form-horizontal.form-group-sm
  .row
    .col-xs-2
      label.col-sm-2.control-label(for="firstName") First name
      input#firstName.form-control.input-sm(type='text', ng-model='contact.firstName', placeholder=' Last name')
    .col-xs-3
      label.control-label(for="middleName") Middle name
      input#middleName.form-control.input-sm(type='text', ng-model='contact.middleName', placeholder=' Middle name')
    .col-xs-4
      label.control-label(for="lastName") Last name
      input#lastName.form-control.input-sm(type='text', ng-model='contact.lastName', placeholder=' Last name')

  button.btn.btn-default.btn-sm Submit