ul.group
  h4 Contact
  li
    input#firstName(type='text', ng-model='contact.firstName', placeholder=' First name', ng-maxlength='50')

  li
    input#middleName(type='text', ng-model='contact.middleName', placeholder=' Middle name', ng-maxlength='50')

  li
    input#lastName(type='text', ng-model='contact.lastName', placeholder=' Last name', ng-maxlength='50')

  li
    input#companyName(type='text', ng-model='contact.companyName', placeholder=' Company name', ng-maxlength='50')

  li
    input#jobTitle(type='text', ng-model='contact.jobTitle', placeholder=' Job title', ng-maxlength='50')
