div.entity-form
  fieldset
    legend Contact form
      label(for='name') Name
      input#name.required(type='text', name='name', minlength='2')
      label(for='city') City
      input#city.required(type='text', name='city', minlength='2')
      label(for='email') E–mail
      input#email.required.email(type='text', name='email')
      label(for='message') Message
      button#send(type='submit', name='send') Send!