doctype html
include includes/code.php
html(lang="en", ng-app="main", class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    title CRM | People
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,700italic,500,500italic')
    script(type='text/javascript', src='scripts/main.js')

  body(ng-cloak)

    div(ng-switch="userAccount.authenticated")

      div#appLoading(ng-switch-when="false")
        span.isLoading

      div#appWrapper(ng-switch-when="true")

        div
          hr
          div.menubar
            ul.nav
              li
                button.btn-primary.btn(ng-click="appState.set('home')") Home
              li
                button.btn-primary.btn(ng-click="search.hide = !search.hide") Search
              li
                button.btn-warning.btn(ng-click="openContact()") Add contact
              li
                button#logout.btn-primary.btn(go-click="{{kenobiLogoutUri}}") Logout

          hr
          div.alertBox(collapse="search.hide")
            include forms/search

          hr
          div(ui-view="content", class="contentSection")
